body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(214, 214, 214, 0.315);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.products-container{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}

.middle-div{
  height: 50% ;
  width: 50%;
  position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
border: 5px solid #242424;
padding:  50px 10px ;

}

.form-container{
  margin: auto 0;
}

.fff{
  width: 70%;
  margin: 20vh auto;
}

.flex-wrapper{

  height: 100%;
  display: flex;
  flex-direction: column;

}
.btn-menu{
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;

}
@keyframes fade {
  from {opacity:0}
  to {opacity: 100}
}

/* The element to apply the animation to */



.btns{
height: 16.1vh;
width: 298px;
text-align: center;
border: 1px solid rgb(212, 210, 210);
background-color: #e7dddde9;
padding: 45px;
font-weight: 700;
font-size: 1rem;
color: #333;
cursor: pointer;
}
.btn-menu:hover{
 
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.btns:hover{
  background-color: #c1c0c0e8;
}




.item-container{
margin: 15px;
padding-left: 15px;
padding-top: 7px;
border: 1px solid rgba(0, 0, 0, 0.126);
border-radius: 5px;
box-shadow: 0.2px 0.2px 2px 0.1px rgba(0, 0, 0, 0.288) ;
height: 450px;

}
.item-image{

  position: relative;
  width: 100%;
}


.edit-item{
  /* display: flex; */
  padding: 20px 5px;
}
.x-icon
{
  position: relative;
  transform: translateX(230px);
}
.x-icon:hover
{

  color: rgb(255, 0, 0);
}

.item-inner-container-not-editing{
  height: 100%;
  padding: 5px;
  padding-right: 19px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ui.segment{
  height: 50%;
  margin: 0;
padding: 10px;
}

